<h1>Hola <%= @usuario.nombre %></h1>

<p> Hola, usted fue registrado en Turnos APP</p>
<p>Para ingresar, entre en este <%= link_to 'link', new_sesion_url %></p>


<!-- Agregar las lineas anteriores -->